
absl-py==2.3.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
async-timeout==5.0.1
attrs==25.3.0
cachetools==5.5.2
casadi==3.7.2
certifi==2025.11.12
charset-normalizer==3.4.4
clarabel==0.9.0
cloudpickle==3.1.2
cmake==4.1.3
contourpy==1.1.1
cvxpy==1.5.2
cycler==0.12.1
dict-deep==4.1.2
ecos==2.0.14
Farama-Notifications==0.0.4
filelock==3.16.1
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.3.0
google-auth==2.43.0
google-auth-oauthlib==1.0.0
gpytorch==1.13
grpcio==1.70.0
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.0.0
idna==3.11
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
-e git+ssh://git@github.com/linlexi568/soar.git@5ffd4f08112e722801e147ca08e3861dd355fc6a#egg=isaacgym&subdirectory=isaacgym/python
jaxtyping==0.2.19
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.7
linear-operator==0.5.3
lit==18.1.8
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
munch==4.0.0
networkx==3.1
ninja==1.13.0
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.3.1
osqp==1.0.5
packaging==25.0
pandas==2.0.3
pillow==10.4.0
propcache==0.2.0
protobuf==5.29.5
psutil==7.1.3
py-spy==0.4.1
pyaml==25.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybullet==3.2.7
Pygments==2.19.2
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.4
requests-oauthlib==2.0.0
rich==14.2.0
rsa==4.9.1
-e git+https://github.com/utiasDSL/safe-control-gym.git@aed0796bcee01f26f7f0d038c66f5b8b07766d15#egg=safe_control_gym
scikit-learn==1.3.2
scikit-optimize==0.10.2
scipy==1.10.1
scs==3.2.7.post2
six==1.17.0
stable_baselines3==2.4.1
sympy==1.13.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
threadpoolctl==3.5.0
torch==1.13.1+cu117
torch-geometric==2.6.1
torch-scatter==2.1.2
torch-sparse==0.6.18
torchvision==0.14.1+cu117
tqdm==4.67.1
triton==2.0.0
typeguard==4.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
Werkzeug==3.0.6
yarl==1.15.2
zipp==3.20.2
